@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(38, 14, 65);
  color: #fff;
}

.coinsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  color: #fff;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: transparent;
}

.inputField {
  padding-left: 16px;
  font-size: 14px;
  width: auto;
  height: 42px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 3pt 2pt white;
  color: #e2e2e2;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}


.App1 {
  background: rgb(11,18,54);
}


@media (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1.brand {
    padding-bottom: 16px;
    font-family: 'Press Start 2P', cursive;
  }
}